<h3>mat-buttons examples</h3>
<div>
<button mat-button>Basic</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button>
<button mat-button disableRipple=true>disableRipple</button>
</div>

<h3>mat-raised-buttons examples</h3>
<div>
<button mat-raised-button>Basic</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button disabled>Disabled</button>
<button mat-raised-button disableRipple=true>disableRipple</button>
</div>

<h3>mat-stroked-button examples</h3>
<div>
<button mat-stroked-button>Basic</button>
<button mat-stroked-button color="primary">Primary</button>
<button mat-stroked-button color="accent">Accent</button>
<button mat-stroked-button color="warn">Warn</button>
<button mat-stroked-button disabled>Disabled</button>
<button mat-stroked-button disableRipple=true>disableRipple</button>
</div>

<h3>mat-flat-button examples</h3>
<div>
<button mat-flat-button>Basic</button>
<button mat-flat-button color="primary">Primary</button>
<button mat-flat-button color="accent">Accent</button>
<button mat-flat-button color="warn">Warn</button>
<button mat-flat-button disabled>Disabled</button>
<button mat-flat-button disableRipple=true>disableRipple</button>
</div>

<h3>mat-icon-button examples</h3>
<div>
<button mat-icon-button>
<mat-icon>shopping_cart</mat-icon>
</button>
<button mat-icon-button color="primary">
<mat-icon>shopping_cart</mat-icon>
</button>
<button mat-icon-button color="accent">
<mat-icon>shopping_cart</mat-icon>
</button>
<button mat-icon-button color="warn">
<mat-icon>shopping_cart</mat-icon>
</button>
<button mat-icon-button disabled>
<mat-icon>shopping_cart</mat-icon>
</button>
<button mat-icon-button disableRipple=true>
<mat-icon>shopping_cart</mat-icon>
</button>
</div>

<h3>mat-fab examples</h3>
<div>
<button mat-fab><mat-icon>add</mat-icon></button>
<button mat-fab color="primary"><mat-icon>add</mat-icon></button>
<button mat-fab color="accent"><mat-icon>add</mat-icon></button>
<button mat-fab color="warn"><mat-icon>add</mat-icon></button>
<button mat-fab disabled><mat-icon>add</mat-icon></button>
<button mat-fab disableRipple=true>
<mat-icon>add</mat-icon>
</button>
</div>
